#
#========================================================================
#
#                           D O O M  R e t r o
#         The classic, refined DOOM source port. For Windows PC.
#
#========================================================================
#
#  Copyright © 1993-2012 by id Software LLC, a ZeniMax Media company.
#  Copyright © 2013-2019 by Brad Harding.
#
#  DOOM Retro is a fork of Chocolate DOOM. For a list of credits, see
#  <https://github.com/bradharding/doomretro/wiki/CREDITS>.
#
#  This file is a part of DOOM Retro.
#
#  DOOM Retro is free software: you can redistribute it and/or modify it
#  under the terms of the GNU General Public License as published by the
#  Free Software Foundation, either version 3 of the License, or (at your
#  option) any later version.
#
#  DOOM Retro is distributed in the hope that it will be useful, but
#  WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
#  General Public License for more details.
#
#  You should have received a copy of the GNU General Public License
#  along with DOOM Retro. If not, see <https://www.gnu.org/licenses/>.
#
#  DOOM is a registered trademark of id Software LLC, a ZeniMax Media
#  company, in the US and/or other countries, and is used without
#  permission. All other trademarks are the property of their respective
#  holders. DOOM Retro is in no way affiliated with nor endorsed by
#  id Software.
#
#========================================================================
#

## Ignore Visual Studio temporary files, build results, and
## files generated by popular Visual Studio add-ons.

# User-specific files
*.suo
*.user
*.sln.docstates
*.vcxproj.FileListAbsolute.txt
*.nativecodeanalysis.sarif

# Build results
[Dd]ebugPublic/
build/
bld/
[Bb]in/
[Oo]bj/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

#NUNIT
*.VisualState.xml
TestResult.xml

*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
*.tlog
*.intermediate.manifest
*.lastbuildstate
*.idb
*.res
stderr.txt
stdout.txt
*.exe
*.unsuccessfulbuild
*.cod
*.map
*.nativecodeanalysis.xml
*.nativecodeanalysis.all.xml
*.lastcodeanalysissucceeded
*.opendb
*.iobj
*.ipdb
*.bsc

# Chutzpah Test files
_Chutzpah*

# Visual C++ cache files
.vs/
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile

# Visual Studio profiler
*.psess
*.vsp
*.vspx

# TFS 2012 Local Workspace
$tf/

# Guidance Automation Toolkit
*.gpState

# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# JustCode is a .NET coding addin-in
.JustCode

# TeamCity is a build add-in
_TeamCity*

# DotCover is a Code Coverage Tool
*.dotCover

# NCrunch
*.ncrunch*
_NCrunch_*
.*crunch*.local.xml

# MightyMoose
*.mm.*
AutoTest.Net/

# Installshield output folder
[Ee]xpress/

# DocProject is a documentation generator add-in
DocProject/buildhelp/
DocProject/Help/*.HxT
DocProject/Help/*.HxC
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/Html2
DocProject/Help/html

# Click-Once directory
publish/

# Publish Web Output
*.[Pp]ublish.xml
*.azurePubxml

# NuGet Packages Directory
msvc/packages/*
## TODO: If the tool you use requires repositories.config, also uncomment the next line
#!packages/repositories.config

# Enable "build/" folder in the NuGet Packages folder since NuGet packages use it for MSBuild targets
# This line needs to be after the ignore of the build folder (and the packages folder if the line above has been uncommented)
!packages/build/

# Windows Azure Build Output
csx/
*.build.csdef

# Windows Store app package directory
AppPackages/

# Others
sql/
*.Cache
ClientBin/
[Ss]tyle[Cc]op.*
~$*
*~
*.dbmdl
*.dbproj.schemaview
*.pfx
*.publishsettings
node_modules/

# RIA/Silverlight projects
Generated_Code/

# Backup & report files from converting an old project file to a newer
# Visual Studio version. Backup files are not needed, because we have git ;-)
_UpgradeReport_Files/
Backup*/
UpgradeLog*.XML
UpgradeLog*.htm

# SQL Server files
App_Data/*.mdf
App_Data/*.ldf

# Business Intelligence projects
*.rdl.data
*.bim.layout
*.bim_*.settings

# Microsoft Fakes
FakesAssemblies/

# =========================
# Windows detritus
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/
*.bak

*.exp

savegames/
screenshots/
msvc/Release/condump*.txt
msvc/Release/doomretro.cfg
msvc/Release/doomretro.lib
msvc/Release/doomretro.wad
msvc/Debug/condump*.txt
msvc/Debug/doomretro.cfg
msvc/Debug/doomretro.lib
msvc/Debug/doomretro.wad
msvc/x64/Release/condump*.txt
msvc/x64/Release/doomretro.cfg
msvc/x64/Release/doomretro.lib
msvc/x64/Release/doomretro.wad
msvc/x64/Debug/condump*.txt
msvc/x64/Debug/doomretro.cfg
msvc/x64/Debug/doomretro.lib
msvc/x64/Debug/doomretro.wad

# =========================
# OSX detritus
# =========================

# Xcode user option files

*.DS_Store
*.xcuserstate
xcuserdata/
project.xcworkspace/
DerivedData/

# Files built on Unix systems
*.[oa]
src/doomretro
*.db
