#
#============================================================================
#
#                                 DOOM Retro
#           The classic, refined DOOM source port. For Windows PC.
#
#============================================================================
#
#    Copyright © 1993-2023 by id Software LLC, a ZeniMax Media company.
#    Copyright © 2013-2023 by Brad Harding <mailto:brad@doomretro.com>.
#
#    This file is a part of DOOM Retro.
#
#    DOOM Retro is free software: you can redistribute it and/or modify it
#    under the terms of the GNU General Public License as published by the
#    Free Software Foundation, either version 3 of the license, or (at your
#    option) any later version.
#
#    DOOM Retro is distributed in the hope that it will be useful, but
#    WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
#    General Public License for more details.
#
#    You should have received a copy of the GNU General Public License
#    along with DOOM Retro. If not, see <https://www.gnu.org/licenses/>.
#
#    DOOM is a registered trademark of id Software LLC, a ZeniMax Media
#    company, in the US and/or other countries, and is used without
#    permission. All other trademarks are the property of their respective
#    holders. DOOM Retro is in no way affiliated with nor endorsed by
#    id Software.
#
#============================================================================
#

## Ignore Visual Studio temporary files, build results, and
## files generated by popular Visual Studio add-ons.

# User-specific files
*.suo
*.user
*.sln.docstates
*.vcxproj.FileListAbsolute.txt
*.bak
autoload/
console/
savegames/
screenshots/
CodeAnalysisResultManifest.txt
doomretro.cfg
doomretro.lib
doomretro.wad

# Build results
[Dd]ebugPublic/
build/
bld/
[Bb]in/
[Oo]bj/

*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
*.tlog
*.intermediate.manifest
*.lastbuildstate
*.idb
*.res
*.exe
*.unsuccessfulbuild
*.cod
*.map
*.nativecodeanalysis.xml
*.nativecodeanalysis.all.xml
*.nativecodeanalysis.sarif
*.lastcodeanalysissucceeded
*.opendb
*.iobj
*.ipdb
*.bsc
*.recipe
*.asm

# Visual C++ cache files
.vs/
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile

# Visual Studio profiler
*.psess
*.vsp
*.vspx

# =========================
# Windows detritus
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# =========================
# macOS detritus
# =========================

# Xcode user option files

*.DS_Store
*.xcuserstate
xcuserdata/
project.xcworkspace/
DerivedData/

# =========================
# Linux detritus
# =========================

*.[oa]
src/doomretro
*.db
