/*
========================================================================

                           D O O M  R e t r o
         The classic, refined DOOM source port. For Windows PC.

========================================================================

  Copyright © 1993-2012 id Software LLC, a ZeniMax Media company.
  Copyright © 2013-2018 Brad Harding.

  DOOM Retro is a fork of Chocolate DOOM. For a list of credits, see
  <https://github.com/bradharding/doomretro/wiki/CREDITS>.

  This file is part of DOOM Retro.

  DOOM Retro is free software: you can redistribute it and/or modify it
  under the terms of the GNU General Public License as published by the
  Free Software Foundation, either version 3 of the License, or (at your
  option) any later version.

  DOOM Retro is distributed in the hope that it will be useful, but
  WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
  General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with DOOM Retro. If not, see <https://www.gnu.org/licenses/>.

  DOOM is a registered trademark of id Software LLC, a ZeniMax Media
  company, in the US and/or other countries and is used without
  permission. All other trademarks are the property of their respective
  holders. DOOM Retro is in no way affiliated with nor endorsed by
  id Software.

========================================================================
*/

#include <Windows.h>

#include "version.h"

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

IDI_ICON1 ICON DISCARDABLE PACKAGE_ICON_PATH

VS_VERSION_INFO VERSIONINFO
    FILEVERSION         PACKAGE_VERSION
    PRODUCTVERSION      PACKAGE_VERSION
    FILEFLAGSMASK       VS_FFI_FILEFLAGSMASK
#if defined(_DEBUG)
    FILEFLAGS           VS_FF_DEBUG
#else
    FILEFLAGS           0x0L
#endif
    FILEOS              VOS_NT_WINDOWS32
    FILETYPE            VFT_APP
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName",      PACKAGE_AUTHOR
            VALUE "FileDescription",  PACKAGE_NAME
            VALUE "FileVersion",      PACKAGE_VERSIONSTRING
            VALUE "InternalName",     PACKAGE
            VALUE "LegalCopyright",   PACKAGE_COPYRIGHT
            VALUE "OriginalFilename", PACKAGE_FILENAME
            VALUE "ProductName",      PACKAGE_NAME
            VALUE "ProductVersion",   PACKAGE_VERSIONSTRING
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
