/*
========================================================================

  DOOM RETRO
  The classic, refined DOOM source port. For Windows PC.
  Copyright (C) 2013-2014 Brad Harding.

  This file is part of DOOM RETRO.

  DOOM RETRO is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  DOOM RETRO is distributed in the hope that it will be useful, but
  WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with DOOM RETRO. If not, see <http://www.gnu.org/licenses/>.

========================================================================
*/

#include <windows.h>

#include "config.h"

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

IDI_ICON1 ICON DISCARDABLE "../res/doomretro.ico"

VS_VERSION_INFO VERSIONINFO
    FILEVERSION         PACKAGE_VERSION
    PRODUCTVERSION      PACKAGE_VERSION
#ifdef _DEBUG
    FILEFLAGS           VS_FF_DEBUG
#else
    FILEFLAGS           0x0L
#endif
    FILEOS              VOS__WINDOWS32
    FILETYPE            VFT_APP
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "FileVersion",     PACKAGE_VERSIONSTRING
            VALUE "FileDescription", PACKAGE_DESCRIPTION
            VALUE "InternalName",    PACKAGE
            VALUE "CompanyName",     PACKAGE_EMAIL
            VALUE "LegalCopyright",  PACKAGE_COPYRIGHT
            VALUE "ProductName",     PACKAGE_NAME
            VALUE "ProductVersion",  PACKAGE_VERSIONSTRING
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
